@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

.font-fill {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48 !important;
}

/* Cartify Neo-Brutalism Utilities */
.neo-shadow {
    box-shadow: 4px 4px 0px 0px rgba(44, 47, 48, 1);
}
.neo-shadow-lg {
    box-shadow: 8px 8px 0px 0px rgba(44, 47, 48, 1);
}
.neo-shadow-inset {
    box-shadow: inset 4px 4px 0px 0px rgba(44, 47, 48, 0.2);
}

.squishy-active:active {
    transform: scale(0.95);
}

.hover-lift:hover {
    transform: translate(-4px, -4px);
    box-shadow: 8px 8px 0px 0px rgba(44, 47, 48, 1);
}

.card-bounce {
    transition: all 150ms ease-in-out;
}
.card-bounce:hover {
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px 0px 0px #2c2f30;
}
.card-bounce:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px 0px #2c2f30;
}

.sticker-rotate-1 { transform: rotate(-1deg); }
.sticker-rotate-2 { transform: rotate(1.5deg); }

/* Hide scrollbar logic */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}